<!DOCTYPE html>
<div class="container" style="background-color: aquamarine;">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Crear Venta
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Buscar Venta
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <!-- 
                Formulario para la creación de una venta 
            -->
            <form name="crearVenta" id="crearVenta" style="background-color: rgb(228, 221, 126);">
                <!--
                    Cliente
                -->
                <h3>
                    Cliente
                </h3>
                <!--
                    Datos del cliente
                -->
                <div class="row">
                    <div class="col-sm-2">
                        <label for="id_cliente" class="form-label">N°</label>
                        <input type="text" class="form-control text-center" id="id_cliente" name="id_cliente" readonly>
                    </div>
                    <div class="col-sm-7">
                        <label for="nombre_cliente" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                    </div>
                    <div class="col-sm-3">
                        <label for="celular_cliente" class="form-label">Celular</label>
                        <input type="tel" maxlength="10" class="form-control" id="celular_cliente" name="celular_cliente">
                    </div>
                </div>
                <!--
                    Pedidos
                -->
                <h3>
                    Productos
                </h3>
                <!--
                    Datos del producto
                -->
                <div class="row">
                    <div class="col-sm-2">
                        <label for="id_producto" class="form-label">N°</label>
                        <input type="text" class="form-control text-center" id="id_producto" name="id_producto" readonly>
                    </div>
                    <div class="col-sm-6">
                        <label for="nombre_producto" class="form-label">Producto</label>
                        <select class="form-select" id="nombre_producto">
                            <option selected>Organizar...</option>
                            <option value="1">FOTO 1</option>
                            <option value="2">FOTO 2</option>
                            <option value="3">FOTO 3</option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                    </div>
                    <div class="col-sm-3">
                        <label for="valor_unitario" class="form-label">Valor Unitario</label>
                        <input type="text" class="form-control format-price" id="valor_unitario" name="valor_unitario">
                    </div>
                </div>
                <!--
                    Opciones del producto
                -->
                <div class="row">
                    <div class="col-sm">
                        <label for="tipo_madera" class="form-label">Opcional 1</label>
                        <select class="form-select" id="tipo_madera">
                            <option selected>Organizar...</option>
                            <option value="1">MADERA 1</option>
                            <option value="2">MADERA 2</option>
                            <option value="3">MADERA 3</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <label for="tipo_madera_2" class="form-label">Opcional 2</label>
                        <select class="form-select" id="tipo_madera_2">
                            <option selected>Organizar...</option>
                            <option value="1">MADERA 1</option>
                            <option value="2">MADERA 2</option>
                            <option value="3">MADERA 3</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <label for="tipo_madera_3" class="form-label">Opcional 3</label>
                        <select class="form-select" id="tipo_madera_3">
                            <option selected>Organizar...</option>
                            <option value="1">MADERA 1</option>
                            <option value="2">MADERA 2</option>
                            <option value="3">MADERA 3</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <label for="tipo_madera_4" class="form-label">Opcional 4</label>
                        <select class="form-select" id="tipo_madera_4">
                            <option selected>Organizar...</option>
                            <option value="1">MADERA 1</option>
                            <option value="2">MADERA 2</option>
                            <option value="3">MADERA 3</option>
                        </select>
                    </div>
                </div>
                <!--
                    Agregar otro producto
                -->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-secondary">Agregar Producto</button>
                    </div>
                </div>
                <!--
                    Totales
                -->
                <h3>
                    Totales
                </h3>
                <div class="row">
                    <div class="col-sm">
                        <label for="valor_total" class="form-label">Valor Total</label>
                        <input type="text" class="form-control format-price" id="valor_total" name="valor_total" readonly>
                    </div>
                    <div class="col-sm">
                        <label for="abono" class="form-label">Abono</label>
                        <input type="text" class="form-control format-price" id="abono" name="abono">
                    </div>
                    <div class="col-sm">
                        <label for="valor_restante" class="form-label">Valor Restante</label>
                        <input type="text" class="form-control format-price" id="valor_restante" name="valor_restante" readonly>
                    </div>
                    <div class="col-sm">
                        <label for="fecha_entrega" class="form-label">Fecha Entrega</label>
                        <input type="date" class="form-control" id="fecha_entrega" name="fecha_entrega">
                    </div>
                </div>
                <!--
                    Botones de Acción
                -->
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-secondary">Registrar</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        </div>
    </div>
</div>
